<%- include("header") -%>
<body class="grey-section">
  <section id="About">
    <div class="container-fluid">
      <h3 class="heading">About</h3>
      <div class="row">
        <div class="brief-intro">
          <p>I have a passion for Web Development, I spend my whole day, practically every day, experimenting with HTML, CSS, and JavaScript; dabbling with Node.js.I’m curious and I enjoy work that challenges me to learn something new and stretch in a different direction.Also I m a Linux Enthusiast, I have experience using various linux distributions like Debian,Ubuntu,Arch,Fedora etc.I was looking forward to be a Android Developer initially but then took a sharp turn into Web Development side. </p>
        </div>
        <div class="skill-box col-lg-4 col-sm-6">
          <i class="icon fab fa-linux fa-4x"></i>
          <h3 class="skill">UNIX (Linux)</h3>
          <p>Experience with Linux distributions & good knowledge with Linux CLI.</p>
        </div>

        <div class="skill-box col-lg-4 col-sm-6 ">
          <i class="icon fab fa-github fa-4x"></i>
          <h3 class="skill">Git</h3>
          <p>Knowledge in version control tool like Git.</p>
        </div>

        <div class="skill-box col-lg-4 col-sm-6">
          <i class="icon fas fa-code fa-4x"></i>
          <h3 class="skill">Coding</h3>
          <p>Have experience in coding in multiple languages like C/C++ & JavaScript.</p>
        </div>

        <div class="skill-box col-lg-4 col-sm-6">
          <i class="icon fas fa-users fa-4x"></i>
          <h3 class="skill">Communication</h3>
          <p>Very fluent in English and effective in conveying complex information.</p>
        </div>

        <div class="skill-box col-lg-4 col-sm-6">
          <i class="icon fas fa-database fa-4x"></i>
          <h3 class="skill">Databases(MongoDB & SQL)</h3>
          <p>Familiar with basic database concepts like insert/update/delete data and queries to retrieve it.</p>
        </div>

        <div class="skill-box col-lg-4 col-sm-6">
          <i class="icon fas fa-palette fa-4x"></i>
          <h3 class="skill">Creativity</h3>
          <p>I can design what you want it to look like and what you want to convey.</p>
        </div>
      </div>
    </div>

  </section>
  <section id="Interests">
    <div class="container-fluid">
      <h3 class="heading">Skillset in WebDev</h3>
      <div class="row">
        <div class="interest-box col-lg-4 col-6">
          <i class="fab fa-html5 fa-5x"></i>
          <h3 class="interest">HTML5</h3>
          <div class="progress">
            <div class="progress-bar progressbar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
          </div>
        </div>
        <div class="interest-box col-lg-4 col-6">
          <i class="fab fa-css3 fa-5x"></i>
          <h3 class="interest">CSS3</h3>
          <div class="progress">
            <div class="progress-bar progressbar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
          </div>
        </div>
        <div class="interest-box col-lg-4 col-6">
          <i class="fab fa-js fa-5x"></i>
          <h3 class="interest">JavaScript</h3>
          <div class="progress">
            <div class="progress-bar progressbar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
          </div>
        </div>
        <div class="interest-box col-lg-4 col-6">
          <i class="fab fa-bootstrap fa-5x"></i>
          <h3 class="interest">Bootstrap</h3>
          <div class="progress">
            <div class="progress-bar progressbar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">65%</div>
          </div>
        </div>
        <div class="interest-box col-lg-4 col-6">
          <i class="fab fa-node fa-5x"></i>
          <h3 class="interest">Node.js</h3>
          <div class="progress">
            <div class="progress-bar progressbar" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55%</div>
          </div>
        </div>
        <div class="interest-box col-lg-4 col-6">
          <i class="fab fa-react fa-5x"></i>
          <h3 class="interest">React</h3>
          <div class="progress">
            <div class="progress-bar progressbar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
        </div>
      </div>
    </div>
    </section>
</body>
<%- include("footer") -%>
