<%- include("header") -%>
<body class="grey-section">


<div class="contact-header">
  <h3 class="heading">Contact Me</h3>
  <p class="contact-line">
    If you want to find out what I can do for you or have any exciting projects you want to get started then I'd love to hear from you, even if its just to grab a cup of tea or coffee or anything.I will get back to you within 24hrs.
  </p>
</div>

<div class="form-box">
  <form action="/" class="form-signin" method="POST">
    <input type="text" name="fName" class="form-control top" placeholder="Enter Name" required autofocus>
    <input type="email" name="email" class="form-control middle" placeholder="Enter Email" required>
    <textarea name="message" class="form-control bottom" rows="8" cols="80" placeholder="Enter your Message"></textarea>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Send</button>
  </form>
</div>
<div class="contact-box">

    <a class="fab fa-linkedin clink" href="https://www.linkedin.com/in/ashwin-suresh-a181a2191/"></a>
    <a class="fab fa-instagram clink" href="https://www.instagram.com/ashwin_x_suresh/"></a>
    <a class="fab fa-facebook clink" href="https://www.facebook.com/ashwin.suresh.58"></a>
    <a class="fas fa-envelope clink" href="mailto:ashwinsuresh.x@gmail.com"></a>
    
  </div>

</body>

<%- include("footer") -%>
