<%- include("header") -%>

<body class="colored-section">
<section id="#Home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 profile">
        <img class="profile-pic" src="Images/profile.png" alt="no-img"">
      </div>
      <div class="col-lg-6 title">
        <h1 class="intro">I m Ashwin</h1>
        <h3 class="intro-line">a Web Designer/Developer</h3>
        <p class="bio">living & learning in Bangalore,India & I m currently pursuing B.E in Computer Science & Engineering.</p>
        <p class="bio"><strong>"</strong>A language that doesn't affect the way you think about <strong>programming</strong>, is not worth knowing<strong>"</strong></p>

      </div>
    </div>
  </div>
</section>
</body>

<%- include("footer") -%>
